* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Century Gothic';
}
.row {
  flex-direction: 'row';
  flex-wrap: wrap;
  display: flex;
}

.column {
  width: 25%;
  padding: 10px;
}

.featured-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-description {
  margin-bottom: 15px;
  font-size: 18px;
  background: rgba(142, 142, 142, 0.23);
  padding: 15px;
}

.details span.label {
  display: block;
}

.button {
  padding: 15px;
  background-color: #FF9800;
  color: black;
  font-family: helvetica;
  font-size: 17px;
}

form {
  max-width: 500px;
  margin: auto;
}

input, textarea, select {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  transition: all 300ms ease-in-out;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid #000;
}

select {
  -webkit-appearance: block;
}

.button {
  padding: 15px;
  background-color: #FF9800;
  color: black;
  font-family: helvetica;
  font-size: 17px;
}